@import '../../scss/variables';
@import '../../scss/mixins';

.map {
  height: 462px;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.marker {
  transform: translate(-50%, -100%);
}

// ---------- Mobile ----------------

@media (max-width: calc(#{$tablet} - 1px) ) {
  .map {
    height: 381px;
  }
}
