@import '../../scss/variables';
@import '../../scss/mixins';

.slideWrap {
  @include flex-row(center, flex-start);
  min-width: 100vw;
  background-color: $gray_background;
}

.slide {
  @include flex-column(flex-start, flex-start);
  position: relative;
  width: 100%;
  max-width: $max-desktop;
  min-height: 400px;
  padding-left: 268px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.caption {
  margin: 0;
  padding: 0;
  margin-top: 105px;
  font-size: 54px;
  line-height: 54px;
  color: $text;
  font-weight: 700;
}

.text {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  font-size: 22px;
  line-height: 22px;
  color: $light_gray_text;
}

.button {
  @include flex-row(center, center);
  @include button(234px, 53px);
  margin-top: 36px;
  pointer-events: all;
}

// ---------- Tablet ----------------

@media (max-width: calc(#{$desktop} - 1px) ) {
  .slide {
    max-width: calc(#{$desktop} - 1px);
    min-height: 300px;
    padding-left: 86px;
  }

  .caption {
    margin-top: 68px;
    font-size: 46px;
    line-height: 46px;
  }

  .text {
    margin-top: 15px;
    font-size: 18px;
    line-height: 18px;
  }

  .button {
    width: 206px;
    min-height: 48px;
    margin-top: 28px;
    font-size: 16px;
  }
}

// ---------- Mobile ----------------

@media (max-width: calc(#{$tablet} - 1px) ) {
  .slide {
    max-width: calc(#{$tablet} - 1px);
    min-height: 226px;
    padding-left: 15px;
    background-position: 65% center;
  }

  .caption {
    margin-top: 48px;
    font-size: 38px;
    line-height: 45px;
  }

  .text {
    width: 145px;
    font-size: 16px;
    line-height: 19px;
  }

  .button {
    width: 188px;
    min-height: 43px;
    font-size: 14px;
  }
}
