$white: #fff;
$black: #000000;
$light: #f6f7ff;
$light_element: #c1c2ca;
$text: #1f1e25;
$light_gray_text: #2B3C4F;
$light_text: #e0e1ea;
$gray_text: #394959;
$background: #2c36f2;
$blue_background: #2027b3;
$paggination: #2028B6;
$gray_background: #DDE2EC;
$blue: #3841ff;
$color: rgba(56, 65, 255, 0);
$border: #0A1E32;
$gray: #707c87;
$red: #e5243f;
$linear-gradient: linear-gradient(180deg, $background 32.89%, $blue_background 99.79%);
$linear-gradient-2: linear-gradient(183.47deg, $color 66.3%, $blue 97.14%);

$max-desktop: 1300px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

$desktop-core: 1170px;
$background-width: 918px;
$desktop-tab-content: 371px;
$desktop-popup: 500px;
$tablet-popup: 678px;
$mobile-popup: 290px;
$desktop-slider: 1366px;
$tablet-tab-content: 330px;
$mobile-tab-content: 215px;
